<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Escolha seu Assento</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
    <h1>Seleção de Assento</h1>
        <br>
    {% bootstrap_messages %}
        <form method="post" action="{% url 'assento' %}" class="form" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% for assentos in assento %}
            {% if assentos.livre %}
            <input type="checkbox" id="{{assentos.livre}}" value="False"/>
            {{assentos.registro}}
            {% endif %}
            {% endfor %}
            {% buttons %}
            <br>
            <button type="submit" class="btn btn-primary">
                Escolher Assento
            </button>
        {% endbuttons %}
        </form>
    </div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>