<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Criação de Cartaz</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
    <h1> Criação do Cartaz </h1>
    {% bootstrap_messages %}
    <form method="post" action="{% url 'cartaz' %}" class="form" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                Criar Cartaz
            </button>
        {% endbuttons %}
    </form>
    </div>
{% bootstrap_javascript jquery='full' %}
</body>
</html>