<!DOCTYPE html>
{% load bootstrap4 %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Lista de Filmes</title>
    {% bootstrap_css %}
</head>
<body>
<div class="row">
    {% for filme in filmes %}
    <div class="col-sm-2">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{filme.capa.url}}">
            <div class="card-body">
                <h5 class="card-title">{{filme.nome}}</h5>
                <p class="card-text">{{filme.cartaz}}<br>
                    ({{filme.duracao}}) Classificação: {{filme.classificacao}}<br>
                    {{filme.categoria}}<br>
                    Sinopse: {{filme.sinopse}}</p>
                <a href="assento" class="btn btn-primary">Assistir</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</body>
{% bootstrap_javascript jquery='full' %}
</html>